/* author: Vladimir Aca */

.spacer {
  flex: 1 1 auto;
}

.draw-path-toolbar {
  position: fixed;
  top: 0;
  z-index: 10;
}

.top-progress {
  position: fixed;
  top: 0;
  z-index: 11;
}

body, html {
  height: 100%;
}

